@import "./var.scss";
@import "./mixins.scss";

.topo{
    h1{
        font-size: 60px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        color: $white;
        
        &::after{
            @include after_before();
        }
        &::before{
            @include after_before();
        }
            
    }

    p{
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: $white;
    }
       
    a{
        color: $white;
        font-size: 50px;
        text-decoration: none;
        outline: none; 
        width: auto;
        transform: translateY(11rem) !important;   
    }
    

    .centralizar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 400px) {
        h1{
            font-size: 50px;
        }
        p{
           font-size: 21px;
        }    
    }
}
