@import "./var.scss";
@import "./mixins.scss";

.sobre{
    width: 100%;
    height: auto;
    text-align: center;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: $black;
    }

    p{
        font-size: 23px;
        font-family: 'Roboto', sans-serif;
        color: $black;
        text-align: justify;
    }

    button{
        text-align: center;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        border-color: $black;
        border-radius: 0px;
        width: 100%;

        &:hover{
            background-color: $black;
            color: $white;
        }
    }
}